<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Together</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>
<nav class="navbar navbar-expand-lg" style="height: 85px;">
    <div class="container-fluid">
        <a class="navbar-brand text-primary ms-4" href="/" th:href="@{/}">Together</a>

        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-list"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="./view/login.html" th:href="@{/member/login}" sec:authorize="isAnonymous()"><span style="font-weight: bold;">로그인</span></a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link active" th:href="@{/user/write}"><span style="font-weight: bold;">모집하기</span></a>
                    <!--          <a href="/logout" class="btn btn-outline-dark active" role="button">로그아웃</a>-->
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a href="/logout" class="nav-link active"><span style="font-weight: bold;">로그아웃</span></a>
                </li>
                <li class="nav-item">
                    <i class="bi bi-bell nav-link"></i>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a th:href="@{/user/board}"><i class="bi bi-list nav-link"></i></a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a th:href="@{/user/update}"><i class="bi bi-gear nav-link"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-lg mx-auto m-4 p-4" style="width: 80%;">
    <h2 class="text-center">작성 목록</h2>

    <table class="table table-hover my-lg-4 my-md-4 my-sm-3">
        <thead class="table-info">
        <tr>
            <th scope="col">제목</th>
            <th scope="col" class="text-end">작성자</th>
            <th scope="col" class="text-center">작성일시</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="article : ${boards}" th:onclick="|location.href='/user/detail/${article.id}'|">
            <td th:text="${article.title}"></td>
            <td th:text="${article.socialUser.nickName}" class="text-end"></td>
            <td th:text="${#temporals.format(article.createdDate, 'yyyy-MM-dd HH:mm')}" class="text-center"></td>
        </tr>
        </tbody>
    </table>
    <!--  <div th:if="${!paging.isEmpty()}">-->
    <!--    <ul class="pagination justify-content-center">-->
    <!--      <li class="page-item" th:classappend="${!paging.hasPrevious()} ? 'disabled'">-->
    <!--        <a class="page-link" th:href="@{|?page=0|}"><span><<</span></a>-->
    <!--      </li>-->
    <!--      <li class="page-item" th:classappend="${!paging.hasPrevious()} ? 'disabled'">-->
    <!--        <a class="page-link" th:href="@{|?page=${paging.number - 1}|}"><span>이전</span></a>-->
    <!--      </li>-->
    <!--      <li class="page-item" th:each="page : ${#numbers.sequence(0, paging.totalPages - 1)}"-->
    <!--          th:if="${page >= paging.number - 3 and page <= paging.number + 3}"-->
    <!--          th:classappend="${page == paging.number} ? 'active'">-->
    <!--        <a class="page-link" th:text="${page}" th:href="@{|?page=${page}|}"></a>-->
    <!--      </li>-->
    <!--      <li class="page-item" th:classappend="${!paging.hasNext()} ? 'disabled'">-->
    <!--        <a class="page-link" th:href="@{|?page=${paging.number + 1}|}"><span>다음</span></a>-->
    <!--      </li>-->
    <!--      <li class="page-item" th:classappend="${!paging.hasNext()} ? 'disabled'">-->
    <!--        <a class="page-link" th:href="@{|?page=${paging.totalPages - 1}|}"><span>>></span></a>-->
    <!--      </li>-->
    <!--    </ul>-->
    <!--  </div>-->
</div>

<script src="/js/bootstrap.js"></script>

</body>
</html>